# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains Flutter settings that can be shared
# VS Code related
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/

# If you're building an application, you may want to ignore the build directory
build/

# Symbolication related
app.*.map.json
android/app/debug
android/app/profile
android/app/release

# Android related
**/android/**/local.properties
**/android/**/key.properties
**/android/**/gradle-wrapper.jar
**/android/**/gradle/
**/android/**/.gradle/
**/android/**/captures/
**/android/**/out/

# iOS/Xcode related
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/flutter_export_environment.sh
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/DerivedData/
**/ios/.generated/

# Web related
**/web/.dart_tool/

# Linux related
**/linux/flutter/ephemeral/

# MacOS related
**/macos/Flutter/ephemeral/
**/macos/Pods/

# Windows related
**/windows/flutter/ephemeral/

# Coverage
coverage/

# VSCode test dir
.dart_tool/

# Crashlytics (if used)
**/android/app/src/main/assets/crashlytics-build.properties

